/* CSS Reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root */

:root {
    --title-color: #E53170;
    --link-color: #5BB3D6;
}

/* Utilities */

.clearfix::after {
    content: '';
    display: table;
    clear: both
}

/* Body and container */

body {
    font-family: 'Fredoka', sans-serif;
    font-size: 1.2rem;
}

.container {
    max-width: 1600px;
    margin:auto;
}

/* Header */

header {
    text-align: center;
}

h1 {
    margin-top: 2rem;
    font-size: 3rem;
    color: var(--title-color);
}

p {
    margin: 4.5rem;
}


/* main */

.card {
    color:white;
    background-color: black;
    width: calc(100% / 3 - 1.6rem);
    line-height: 3rem;
    display: inline-block;
    margin-left: 1rem;
    
}

h2 {
    vertical-align: middle;
}

img {
    width: 150px;
    float: left;
    padding-right: 0.6rem;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

.row {
    margin-bottom: 3rem;
}